@model IEnumerable<EFCoreApp2021.Parcelle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoParcelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cepage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exploitant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfosSupp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoParcelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cepage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exploitant.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propietaire.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfosSupp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EGRID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EGRID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EGRID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
