@model IEnumerable<EFCoreApp2021.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des transactions</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Acquereur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EGRID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Acquereur.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendeur.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EGRID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
    </tbody>
</table>
